// Fonts
$font-body: "Nunito Sans", "Tahoma", "Verdana", sans-serif; // 400, 400i, 700
$font-header: "Nunito", "Tahoma", "Verdana", sans-serif; // 700, 900
$font-button: "Nunito", "Tahoma", "Verdana", sans-serif; // 700, 900
$font-code: "monaco", "consolas", "Andale Mono", "DejaVu Sans Mono", monospace;

// Sizes
$font__size--body: 1.8;
$font__size--header: 4.8;
$font__size--level-1: 3.6;
$font__size--level-2: 3.2;
$font__size--level-3: 2;
$font__size--level-4: 1.6;
$font__size--small: 1.4;

// Line-heights
$font__line-height--body: 1.55;
$font__line-height--small: 1.4;
$font__line-height--header: 1.3;
$font__line-height--uppercase: 1.2;
