.content-area {
	float: right;
	margin: 0 0 0 (-$size__width--sidebar);
	width: $size__width--main;
}

.site-main {
	margin: 0 0 0 #{ $size__width--sidebar + spacing(3) };
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $size__width--sidebar;
}

.site-footer {
	clear: both;
	width: $size__width--main;
}
