h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	clear: none;
	font-family: $font-header;
	font-weight: 700;
	line-height: $font__line-height--header;
}

h1,
h2 {
	margin: spacing(2) 0 spacing(0);
}

h1 {
	@include uppercase( $font__size--level-1, 0 );
	font-weight: 900;
}

h2 {
	@include font-size( $font__size--level-2 );
	line-height: 1.3;
	font-weight: 700;
	color: $blue;
}

h3 {
	@include font-size( $font__size--level-3 );
	line-height: 1.3;
	font-weight: 900;
}

h4 {
	@include uppercase( $font__size--level-4 );
}
