.wp-block-latest-posts {
	@include light-on-dark;
	font-family: $font-button;
	font-weight: 700;
	margin: spacing(2) 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: spacing(1);

	&.is-grid {
		display: grid;

		li {
			margin: 0;
			width: 100%;
			background: $grey;
			color: $white;
			padding: spacing(2);
			border-radius: $size__border-radius;
		}

		a {
			color: $white;

			@include hover-state {
				color: $white;
				text-decoration: underline;
			}

			&:visited {
				color: $white;
			}
		}

		time {
			color: rgba($white, 0.7);
		}
	}

	li {
		width: 100%;
	}

	li > a {
		@include font-size( 2.4 );
		line-height: $font__line-height--small;
		text-decoration: none;
	}

	time {
		font-weight: 900;
		margin-top: 1em;
	}

	.wp-block-latest-posts__post-excerpt {
		font-family: $font-body;
		font-weight: 400;

		.more-link {
			display: none;
		}
	}

	.wp-block-latest-posts__featured-image.alignleft {
		margin-right: 1.5em;
	}

	.wp-block-latest-posts__featured-image.alignright {
		margin-left: 1.5em;
	}

	@media (min-width: $breakpoint-small) {

		&.columns-2 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}

		&.columns-5 {
			grid-template-columns: repeat(5, 1fr);
		}

		&.columns-6 {
			grid-template-columns: repeat(6, 1fr);
		}

	}
}
