body.single-wcb_session {

	#session-speaker-names {
		padding: 0;
	}

	.session-categories-links {
		display: inline-block;
		height: 24px;
		padding-left: 32px;
		background-image: url("#{$icon-tag}");
		background-color: transparent;
		background-position: left 3px;
		background-repeat: no-repeat;
		font-weight: 700;
		@include font-size(1.6);

		a {
			color: $mid-brown;
			text-decoration: none;

			@include hover-state {
				text-decoration: underline;
			}
		}
	}

	.entry-footer {
		display: none;
	}
}
